---
name: using <code>plt.hist</code> with multiple datasets
plot_url: https://plot.ly/~MattSundquist/19544
arrangement: horizontal
language: matplotlib
suite: histogram
description: Inspired by <a href="http://stackoverflow.com/questions/18453570/opacity-misleading-when-plotting-two-histograms-at-the-same-time-with-matplotlib">Stack Overflow</a>.
order: 2
sitemap: false
---

# Learn about API authentication here: https://plot.ly/python/getting-started
# Find your api_key here: https://plot.ly/settings/api

import pylab as plt
import plotly.plotly as py

fig = plt.figure()

x = 200 + 25*plt.randn(1000)
y = 150 + 25*plt.randn(1000)
n, bins, patches = plt.hist([x, y])

plot_url = py.plot_mpl(fig, filename='docs/mpl-histogram')
