---
name: Overwrite chart data with new data
description: The simplest and recommended way to update a chart remotely.<br><small>You can overwrite a chart's data with new data remotely, simply by including its file name in the filename kwarg.</small>
plot_url: http://i.imgur.com/VuobuN3.gif
arrangement: horizontal
language: pandas
suite: sending-data
order: 0
sitemap: false
---
# Learn about API authentication here: https://plot.ly/pandas/getting-started
# Find your api_key here: https://plot.ly/settings/api

import plotly.plotly as py
from plotly.graph_objs import *

data = Data([ Scatter(x=[1, 2], y=[3, 4]) ])

plot_url = py.plot(data, <b>filename='my plot'</b>)
