---
title: Pandas Graphing Library | Plotly
permalink: /pandas/
description: Use Pandas with Plotly's Python package to make interactive graphs directly from data frames. Generate line charts, bar charts, histograms, box plots, and more.
language: pandas
layout: langindex
---

<header class="--welcome">
	<div class="--welcome-body">
		<!--div.--wrap-inner-->
		<div class="--title">
			<div class="--category-img"><img src="https://plot.ly/gh-pages/documentation/static/images/pandas-small.png" alt=""></div>
			<div class="--body">
				<h1>Plotly Python Open Source Library for Pandas</h1>
				<p>Cufflinks binds plotly to pandas dataframes in <a href="https://plot.ly/ipython-notebooks/">IPython notebook</a>. <a href="https://plot.ly/ipython-notebooks/cufflinks/">Read more</a>.</consectetur>
				</p>
			</div>
		</div>
	</div>
</header>

<div class="content container">
	<div class="search-header">Search</div>
	<input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search Plotly's Python Docs" />
	<nav class="--sidebar-body watch" id="search">

	<div class="algolia__search-content js-algolia__search-content">
		<div class="posts algolia__results"></div>
	</div>
</div>

		{% assign languagelistimg = site.posts | where:"page_type":"example_index" | where:"language","pandas"  | where:"has_thumbnail",true % | sort: "order" %}
		{% assign languagelist = site.posts | where:"page_type":"example_index" | where:"language","pandas" %}
        {% include documentation_eg.html %}
